<div class="text-layout">
  <h1>Pipes basicos</h1>
  <p>Pipes incluidos en angular - usualmente en el common module</p>
</div>

<div class="p-grid">
  <div class="p-col-4">
    <p-card header="uppercase" [subheader]="nombrelower">{{
      nombrelower | uppercase
    }}</p-card>
  </div>
  <div class="p-col-4">
    <p-card header="lowercase" [subheader]="nombreupper">{{
      nombreupper | lowercase
    }}</p-card>
  </div>
  <div class="p-col-4">
    <p-card header="Titlecase" [subheader]="nombrecompleto">{{
      nombrecompleto | titlecase
    }}</p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>pipes para mostrar fechas</p>
</div>
<div class="p-grid">
  <div class="p-col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'fullDate</li>
      </ul>
      <hr />
      <ul>
        <li>fecha | date: "long":"GMT-6"</li>
        <li>fecha | date: "long":"":"en"</li>
      </ul>
    </p-card>
  </div>
  <div class="p-col-6">
    <p-card>
      <ul>
        <li>{{ fecha }}</li>
        <li>{{ fecha | date }}</li>
        <li>{{ fecha | date: "short" }}</li>
        <li>{{ fecha | date: "long" }}</li>
        <li>{{ fecha | date: "fullDate" }}</li>
      </ul>
      <hr />
      <ul>
        <li>{{ fecha | date: "long":"GMT-6" }}</li>
        <li>{{ fecha | date: "long":"":"en" }}</li>
      </ul>
    </p-card>
  </div>
</div>
